<h1>About Lokalizo</h1>

<dl>
    <dd>
    Lokalizo is a digital platform which builds bridges of efficient communication between citizens, governments and other relevant stakeholders by offering a tech based tool to address environmental problems and which stimulates citizen engagement, increased accountability and transparency especially in local governance, and more proficient problem solving; contributing to a more sustainable livelihood and resilient communities in Kosovo.
    </dd>
</dl>

<h1>PIKS OJQ</h1>

<dl>
    <dd>Prosperity Initiative in Kosovo (PIKS) is a youth-led NGO founded on the 4th of December 2013. The mission of PIKS is to turn the Kosovar youth into agents of positive change and development in order to be active participants in processes that lead to the consolidation of Kosovo's statehood and its democratic institutions.</dd>
</dl>

<h1>Sponsors and partners</h1>

<dl>
    <dd>Lokalizo is created by PIKS NGO, and is implemented co-jointly with its partners FLOSSK NGO and Omladina Napred NGO. The project has been made able by generous contributions  of the Canadian Department of Foreign Affairs, Trade, and Development (DFATD), the United Nations Development Program (UNDP), and the United Nations Children’s Fund (UNICEF).</dd>
</dl>

<h1>Frequently asked questions</h1>

<dl>
    <dt>How do I use this app?</dt>
    <dd>The app will attempt to locate you automatically but if it can't or you want to report
    a problem elsewhere you can search by postcode or location. To start reporting a problem scroll
    the map till the crosshair is over the location of the problem and press 'New Report here'.
    </dd>

    <dt>What happens to the information I provide?</dt>
    <dd><strong>All the information you provide will be sent to the municipality</strong>.
        The title, category and details of your report will be displayed on the website. By default
        your name will also be displayed on the website but you can choose to have this hidden.
        We will <strong>never display your email or phone number on the site</strong>.</dd>

    <dt>What if I want to remain anonymous?</dt>
    <dd>If you unselect 'Show my name publicly' when entering your details then your name will not be displayed on the website.
    <strong>Your name, email and phone number, if you provided it, will always be sent to the municipality.</strong></dd>

    <dt>What if I've accidentally included personal information in a report</dt>
    <dd>To have a report edited email <a href="mailto:info@lokalizo.org">info@lokalizo.org</a> with 
        details of the report.</dd>

    <dt>I've forgotten my password, how do I reset it?</dt>
    <dd>If you've forgotten your password you can reset it by selecting the "set a password" option when
        next submitting a report. Please note that you have to click the link in the confirmation email to
        activate or change your password.</dd>
</dl>
