<div id="search-header" data-role="header">
    <a href="#" id="locate" data-transition="slidedown" class="ui-btn-left">Otkazati</a>
    <h1>Prikaži</h1>
</div>
<div data-role="content">
    <div id="front-main">
        <h3 class="notopmargin">Unesite problem lokacije</h3>
        <form class="inputcard" name="postcodeForm" id="postcodeForm">
            <div>
                <input data-role="none" type="text" name="pc" value="" id="pc" size="10" maxlength="200" placeholder="npr. 'Ulica, Naselje' or 'Grad'">
            </div>
        </form>
        <input type="button" value="Go" id="submit" data-theme="a"> 
    </div>

    <div id="front-howto">
        <% if (typeof msg != 'undefined' && msg !== '') { %>
            <h2><%= msg %></h2>
        <% } %>
    </div>
</div>
