<div data-role="header" data-position="fixed">
        <a id="offline-prev-btn" class="ui-btn-left">Pokušajte ponovo</a>
        <h1>Offline</h1>
        <a id="offline-next-btn" data-icon="arrow-r" data-iconpos="right" class="ui-btn-right">Preskoči</a>
</div>
    <div id="locating" class="nodisplay">
        <div class="radar"></div>
        <div id="progress">
            <div id="progress-bar">
            </div>
        </div>

        <p>
        Pronalazimo Vašu lokaciju
        </p>

        <p>
        <input data-theme="a" type="button" id="locate_cancel" value="Otkaži">
        </p>
    </div>
<div data-role="content">
    <div>
        <p class="notopmargin">
        <% if ( typeof id != 'undefined' ) { %>
        Žao nam je, ali ne možemo da detektujemo vezu ka Internetu. Ipak još uvek možete da ažurirate prijavu problema sada i pošaljete je kasnije.
        <% } else { %>
        Žao nam je ali ne možemo da detektujemo Internet vezu. Ipak, još uvek možete započeti sa prijavom novog problema i dovršiti je kasnije kada opet budete online tako što ćete posetiti "Nacrte" (drafts).
        <% } %>
        </p>

        <p id="locate_result">
        <% if ( lat ) { %>
        Ovaj prijavljeni problem ima poziciju.
        <% } else { %>
        <input type="button" data-role="button" data-theme="a" id="locate" value="Lociraj (opciono)" >
        <% } %>
        </p>

        <div class="inputcard">
            <div>
                <input data-role="none" type="text" value="<%= title %>" name="title" id="form_title" placeholder="Unesite naslov" required>
            </div>

            <div>
                <textarea data-role="none" rows="7" cols="26" name="detail" id="form_detail" placeholder="Please fill in details of the problem." required><%= details %></textarea>
            </div>
        </div>

        <% if ( file != '' ) { %>
        <div id="add_photo" style="display: none">
        <% } else { %>
        <div id="add_photo">
        <% } %>
            <label>Dodaj sliku<em>(opciono)</em></label>
            <input data-icon="fms-photo-new" value="Snimi novu sliku" type="button" name="photo_button" id="id_photo_button" data-role="button" data-theme="a">
            <input data-icon="fms-photo-existing" value="Dodaj postojeću fotografiju" type="button" name="existing" id="id_existing" data-role="button" data-theme="a">
        </div>

        <% if ( file == '' ) { %>
        <div id="display_photo" style="display: none">
        <% } else { %>
        <div id="display_photo">
        <% } %>
            <label>Vaša slika</label>
            <div class="photo">
            <img class="small" id="photo" src="<%= file %>" />
            </div>
            <input value="Uklonite sliku" type="button" name="del_photo_button" id="id_del_photo_button" data-role="button" data-theme="a">
        </div>
    </div>
</div>
