<div id="report-created-header" data-role="header">
    <a class="ui-btn-left">Početna</a>
    <h1>Problem prijavljen</h1>
</div>
<div data-role="content">
    <% if ( typeof email_confirm != 'undefined' && email_confirm === 1 ) { %>
    <h3>Mail za potvrdu nije poslat</h3>

    <p>
    Poslali smo Vaš konfirmacioni email kojem je potrebno nekoliko trenutaka da stigne. Kada primite taj email, za potvrdu prijavljenog problema kliknite na link u njemu.
    </p>
    <% } else { %>
    <h3>Hvala. Problem koji ste prijavili odmah ćemo poslati nadležnim organima.</h3>

    <p class="center"><input type="button" data-theme="a" id="open_report" value="Pregledaj na sajtu"></p>
    <% } %>


    <div class="bottom-btn">
        <input type="button" id="id_report_another" data-theme="a" value="Prijavi novi problem" >
    </div>
</div>
