<div id="submit-header" data-role="header">
    <h1>Vaši detalji</h1>
</div>

<div data-role="content">
    <div id="errors"></div>
    <form id="passwordForm" name="passwordForm">
    <div id="password_row">
        <p class="notopmargin">
        Ukucajte lozinku za Vaš nalog. Ovo neće biti aktivirano dok ne kliknete na link maila potvrde.
        </p>
        <div class="inputcard">
            <div>
                <input data-role="none" type="password" value="" name="password" id="form_password" placeholder="Vaša lozinka" required>
            </div>
        </div>
        <div class="noborder">
            <input data-role="button" data-theme="a" type="submit" id="continue" name="report" value="Dalje">
        </div>
    </div>
    </form>
</div>
