<h1>Për Lokalizo</h1>

<dl>
    <dd>
    Lokalizo është një platformë miqësore për shfrytëzuesit, e cila i mundëson çdo qytetar që përballet në komunitet të raportoj direkt tek zyrtarët e komunave, kompanive të kontraktuara nga komuna dhe akterëve të tjerë të cilët janë kompetent për këtë çështje. Varësisht nga drejtimi që do të përcaktojë komuna, por në parim përdoruesit mundë të raportojnë probleme në lidhje me një gamë të gjerë fushash dhe çështjesh që ndikojnë në mjedisin e tyre.
    </dd>
</dl>

<h1>PIKS OJQ</h1>

<dl>
    <dd>Iniciativa për Prosperitet në Kosovë (Prosperity Initiative in Kosovo - PIKS) është një organizatë jo-qeveritare e cila udhëheqet nga të rinjtë dhe vepron për të rinjtë. Misioni i PIKS është të shëndrroj rininë kosovare në agjentë të zhvillimit dhe ndryshimeve pozitive.</dd>
</dl>

<h1>Sponzorët dhe partnerët</h1>

<dl>
    <dd>Lokalizo është krijuar nga OJQ PIKS dhe implementohet sëbashku me partnerët nga OJQ FLOSSK dhe OJQ OMLADINA NAPRED. Projekti është mbështetetur nga Departamenti Kanadez për Marrëdhënie Ndërkombëtare dhe Zhvillim (DFATD), Agjencioni i Kombeve të Bashkuara për Zhvillim (UNDP), si dhe Fondi për Fëmijë i Kombeve të Bashkuara (UNICEF).</dd>
</dl>

<h1>Pyetjet më të shpeshta</h1>

<dl>
    <dt>Si ta përdor këtë aplikacion?</dt>
    <dd>Ky aplikacion tenton të ju gjej vendodhjen tuaj automatikisht, por nëse nuk mundet ose ju doni që të raportoni diku tjetër, ju mund të kërkoni në kutinë e kërkimit për një rrugë, lagje apo qytet. Për të filluar raportimin e një problemi lëvizni në hartë deri sa shigjetat të jetë mbi lokacionin e problemit dhe shtypni 'Raportim i ri këtu'</dd>

    <dt>Cfarë ndodhë me informatat që unë i ofroj?</dt>
    <dd><strong>Të gjitha informatat që ju i ofroni do t'i shkojnë komunës.</strong>.
        Titulli, kategoria dhe detajet e raportit tuaj do të shfaqen në uebsajt. Si opsion i parazgjedhur, emri juaj do të shfaqet poashtu në uebsajt, por ju mund ta fshehni atë me opsionin e ofruar "Shfaq emrin tim publikisht". Ne <strong>kurrë nuk do të shfaqim emailin apo numrin tuaj të telefonit ne uebsajt</strong>.</dd>

    <dt>Cfarë nëse dua të mbetem anonim?</dt>
    <dd>Nëse nuk e zgjidhni opsionin 'Shfaq emrin tim publikisht' kur ju të jeni duke shtypur detajet tuaja atëherë emri juaj nuk do të shfaqet në uebsajt.<strong>Emri juaj, emaili dhe numri i telefonit, nëse i jepni këto detaje, gjithmonë do t'i dërgohen komunës.</strong></dd>

    <dt>Cfarë të bëj nëse kam vendosur padashje informata personale në raport</dt>
    <dd>Për tandryshuar raportin tuaj ju lutem dërgoni një email tek <a href="mailto:info@lokalizo.org">info@lokalizo.org</a> me detajet e raportit.</dd>

    <dt>Kam harruar fjalëkalimin, si ta resetoj?</dt>
    <dd>Nëse keni harruar fjalëkalimin, ju mund ta resetoni atë duke zgjedhur opsionin "Dua të vë fjalëkalim" herën tjetër kur ju të jeni duke dërguar një raport. Keni parasysh që ju duhet të klikoni mbi linkun ne emailin e konfirmimit që të aktivizoni apo ndërroni fjalëkalimin</dd>
</dl>
