<div data-role="header" data-position="fixed">
        <a id="offline-prev-btn" class="ui-btn-left">Provoni përsëri</a>
        <h1>Offline</h1>
        <a id="offline-next-btn" data-icon="arrow-r" data-iconpos="right" class="ui-btn-right">Kalo</a>
</div>
    <div id="locating" class="nodisplay">
        <div class="radar"></div>
        <div id="progress">
            <div id="progress-bar">
            </div>
        </div>

        <p>
        Duke gjetur vendndodhjen tuaj
        </p>

        <p>
        <input data-theme="c" type="button" id="locate_cancel" value="Anulo">
        </p>
    </div>
<div data-role="content">
    <div>
        <p class="notopmargin">
        <% if ( typeof id != 'undefined' ) { %>
        Nuk jeni të kyçur në internet. Ju mund ta ndryshoni raportin tani dhe ta dërgoni atë më vonë.
        <% } else { %>
        Nuk jeni të kyçur në internet. Ju mund të filloni një raport të ri dhe ta përfundoni atë më vonë duke shkuar tek "skicat" kur ju të jeni online.
        <% } %>
        </p>

        <p id="locate_result">
        <% if ( lat ) { %>
        Ky raport ka një pozitë.
        <% } else { %>
        <input type="button" data-role="button" data-theme="a" id="locate" value="Gjej (opcionale)" >
        <% } %>
        </p>

        <div class="inputcard">
            <div>
                <input data-role="none" type="text" value="<%= title %>" name="title" id="form_title" placeholder="Jep një titull" required>
            </div>

            <div>
                <textarea data-role="none" rows="7" cols="26" name="detail" id="form_detail" placeholder="Please fill in details of the problem." required><%= details %></textarea>
            </div>
        </div>

        <% if ( file != '' ) { %>
        <div id="add_photo" style="display: none">
        <% } else { %>
        <div id="add_photo">
        <% } %>
            <label>Shto një foto<em>(opsionale)</em></label>
            <input data-icon="fms-photo-new" value="Shkrep një foto të re" type="button" name="photo_button" id="id_photo_button" data-role="button" data-theme="a">
            <input data-icon="fms-photo-existing" value="Shto një foto ekzistuese" type="button" name="existing" id="id_existing" data-role="button" data-theme="a">
        </div>

        <% if ( file == '' ) { %>
        <div id="display_photo" style="display: none">
        <% } else { %>
        <div id="display_photo">
        <% } %>
            <label>Foto juaj</label>
            <div class="photo">
            <img class="small" id="photo" src="<%= file %>" />
            </div>
            <input value="Fshij foton" type="button" name="del_photo_button" id="id_del_photo_button" data-role="button" data-theme="a">
        </div>
    </div>
</div>
