<div id="submit-header" data-role="header">
    <h1>Detajet tuaja</h1>
</div>

<div data-role="content">
    <div id="errors"></div>
    <form id="passwordForm" name="passwordForm">
    <div id="password_row">
        <p class="notopmargin">
        Shtyp fjalëkalimin për llogarinë tuaj. Kjo nuk do të aktivizohet deri sa ju të shtypni lidhjen në emailin tuaj të konfrimimit
        </p>
        <div class="inputcard">
            <div>
                <input data-role="none" type="password" value="" name="password" id="form_password" placeholder="Fjalëkalimi" required>
            </div>
        </div>
        <div class="noborder">
            <input data-role="button" data-theme="a" type="submit" id="continue" name="report" value="Vazhdo">
        </div>
    </div>
    </form>
</div>
